:root {
  --jetskyblue: #145894;
  --slate: #222222;
  --darkjetblue: #0a2136;
  --crimson: #6d0000;
  --page-gap: 2rem;
}

.fullWidth {
  width: 100%;
}

.button {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 0.1875rem;
  font-size: 0.9375rem;
  line-height: 1.3125rem;
  font-weight: 700;
  padding: 0.75rem 1.25rem 0.625rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s,
    border-color 0.2s ease 0s, opacity 0.2s ease 0s;
  color: var(--jetskyblue);
  margin: 0.25rem;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--jetskyblue);
  border-color: #000;
  color: #fff;
}

.articleImage {
  width: 100%;
  display: block;
  margin-bottom: var(--page-gap);
}

img {
  width: 100%;
  display: block;
}

figure {
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

li,
ul,
ol,
dt,
dd {
  padding: 0.15rem;
  font-family: "Playfair Display", serif;
  color: var(--slate);
}

.centerflex {
  /* margin: auto;
  width: 50%; 
  The above is not needed not that we use flexbox*/
  align-self: center;
}

h1,
h2,
h3 {
  font-family: "Tinos", serif;
  color: var(--darkjetblue);
}

p,
ul,
ol,
a {
  font-family: "Playfair Display", serif;
  color: var(--slate);
  margin: 0rem;
}

a:hover {
  color: var(--crimson);
  transition: 200ms color ease-in;
}

.blackline {
  stroke: black;
  stroke-width: 3;
}

.blueline {
  stroke: navy;
  stroke-width: 3;
}

.deadCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center-column {
  displey: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 0 1rem;
  max-width: 70rem;
}

.hero {
  position: relative;
  margin-bottom: var(--page-gap);
}

.hero .heroText {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 1rem;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

.hero h1,
.hero p {
  font-family: "Tinos", serif;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.52);
  line-height: 1;
  margin-bottom: -0.1rem;
}

.hero p {
  font-size: 1.5rem;
}

a {
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: var(--page-gap);
}

.aside {
  margin-bottom: var(--page-gap);
}

.text {
  position: relative;
}

.text div {
  position: absolute;
  top: 0;
  left: 0rem;
  right: 0rem;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 1rem;
  text-align: center;

  color: #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia,
    serif;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 0.3s ease-in-out;
}

.text:hover div {
  opacity: 0;
}
.menu li {
  margin: 20px;
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
Set the color of the icon
*/
svg path,
svg rect {
  fill: #ff6700;
}

.centerloader {
  position: fixed;
  left: 47%;
  top: 50%;
  z-index: 1000;
  height: 61px;
  width: 61px;
}

div .flexbox {
  position: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap;
  align-items: center;
  border: solid green;
}

nav ul {
  list-style-type: none;
  display: flex;

  margin: 0;
  padding: 1rem;
  gap: 0rem;
  justify-content: flex-end;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

#Layer_1 {
  height: 150px;
  width: 150px;
}

body {
  display: flex;
  flex-direction: column;
}

.center a {
  text-align: center;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: var(--page-gap);
}

.panel > figure {
  order: -1;
}

.panel h2 {
  margin-top: 0;
}

@media (min-width: 600px) {
  .panel {
    flex-direction: row;
    display: flex;
  }

  .panel .text-content {
    flex: 0 1 60%;
  }

  .panel figure {
    flex: 1 1 40%;
    order: 0;
  }

  .panel .left {
    order: -1;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .card {
    flex: 1 1 40%;
  }
}

@media (min-width: 900px) {
  .cards {
    flex-wrap: nowrap;
    flex: 1 1 20%;
  }
}
